/* Dashboard Snowfall Effect */
.dashboard-header {
  position: relative;
  height: 100vh;
  background: black; /* Black background */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.dashboard-header .snow, 
.dashboard-header .snow2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%; /* Double width for seamless tiling */
  height: 200%; /* Double height for seamless animation */
  background: url('https://i.ibb.co/GCRjwL7/snow.png') repeat;
  pointer-events: none; /* Prevent interaction */
}

.dashboard-header .snow {
  background-size: 50em;
  animation: snowfall 30s linear infinite; /* Diagonal down-right */
}

.dashboard-header .snow2 {
  background-size: 50em;
  animation: snowfall-reverse 60s linear infinite; /* Diagonal down-left */
  opacity: 0.5;
}

.dashboard-header .text {
  color: #fff;
  text-align: center;
  z-index: 1; /* Ensure text stays on top of snow */
}

.dashboard-header .text h1 {
  font-family: 'Pushster', cursive;
  font-size: 4em;
  text-shadow: 5px 5px 10px #111;
}

.dashboard-header .text p {
  color: #ff4e58;
  font-weight: bold;
}

@keyframes snowfall {
  0% {
    background-position: 0 0; /* Start position */
  }
  100% {
    background-position: -200% 200%; /* Move diagonally down-right */
  }
}

@keyframes snowfall-reverse {
  0% {
    background-position: 0 0; /* Start position */
  }
  100% {
    background-position: 200% 200%; /* Move diagonally down-left */
  }
}
